body {
    font-family: Arial, Helvetica, sans-serif;
}

.heart:hover {
    color: #FF4C3B;
    cursor: pointer;
}

.user:hover {
    color: #FF4C3B;
    cursor: pointer;
}

.user-p:hover {
    cursor: pointer;
}

.user:hover {
    color: #FF4C3B;
    cursor: pointer;
}

.burger-bar:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.header-ul li {
    font-size: 15px;
    min-width: 106px;
    text-align: center;
    align-items: center;
}

.header-ul li:hover {
    cursor: pointer;
    color: #FF4C3B;
}

.header-ul li i {
    margin-left: 7px;
    font-size: 12px;
}

.header-icons {
    min-width: 12vw;
}

.header-icons i:hover {
    cursor: pointer;
}

.shop-now {
    z-index: 1;
    top: 30%;
    left: 20%;
}

.shop-now:hover {
    cursor: default;
}

.shop-now-button:hover {
    background-color: white !important;
    color: black;
    border: 2px solid red;
}
