.heart {
    &:hover {
        color: #ff4c3b;
        cursor: pointer;
    }
}

.user {
    &:hover {
        color: #ff4c3b;
        cursor: pointer;
    }
}

.user-p {
    &:hover {
        cursor: pointer;
    }
}

.burger-bar {
    &:hover {
        cursor: pointer;
    }
}

.logo {
    &:hover {
        cursor: pointer;
    }
}

.btn {
    outline: none !important;
}

.header-ul {
    li {
        font-size: 15px;
        min-width: 106px;
        text-align: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            color: #ff4c3b;
        }
        i {
            margin-left: 7px;
            font-size: 12px;
        }
    }
}

.header-icons {
    min-width: 12vw;
    i {
        &:hover {
            cursor: pointer;
        }
    }
}

.hover-pointer:hover {
    cursor: pointer !important;
}

.color-selector {
    ul {
        li {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #444444;
        }
    }
}

.color-selector {
    ul {
        display: flex;
        width: 100%;
        .color-1 {
            background-color: black;
        }
        .color-2 {
            background-color: gray;
        }
        .color-3 {
            background-color: red;
        }
        .color-4 {
            background-color: purple;
        }
        .color-5 {
            background-color: blue;
        }
        .color-6 {
            background-color: yellow;
        }
        .color-7 {
            background-color: green;
        }
    }
}










@media only screen and (max-width: 833px) {
    .header-ul {
      display: none !important;
    }
    .side-banner {
        display: none !important;
    }
  }